// Forms Mixins
@mixin checkbox($state) {
    + label svg.icon-checkbox-active {
        @if $state == 'checked' { display: initial; }
        @else { display: none; }
    }
    + label svg.icon-checkbox-static {
        @if $state == unchecked { display: initial; }
        @else { display: none; }
    }
    + label svg.icon-checkbox-hover {
        @if $state == hover { display: initial; }
        @else { display: none; }
    }
}

@mixin radio($state) {
    + label svg.icon-radio-active {
        @if $state == 'checked' { display: initial; }
        @else { display: none; }
    }
    + label svg.icon-radio-static {
        @if $state == unchecked { display: initial; }
        @else { display: none; }
    }
    + label svg.icon-radio-hover {
        @if $state == hover { display: initial; }
        @else { display: none; }
    }
}
