// MIXINS.SCSS
// -----------

// Toggles
//
// Centralizes mixins used across the webapp / website.
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

// Utilities
@import "breakpoints";
@import "hover";
// @import "mixins/image";
// @import "mixins/badge";
// @import "mixins/resize";
// @import "mixins/screen-reader";
// @import "mixins/size";
@import "reset-text";
// @import "mixins/text-emphasis";
// @import "mixins/text-hide";
// @import "mixins/text-truncate";
// @import "mixins/transforms";
@import "visibility";

// Components
// @import "mixins/alert";
// @import "mixins/buttons";
// @import "mixins/cards";
// @import "mixins/pagination";
// @import "mixins/lists";
// @import "mixins/list-group";
// @import "mixins/nav-divider";
@import "forms";
// @import "mixins/table-row";

// // Skins
// @import "mixins/background-variant";
@import "border-radius";
// @import "mixins/gradients";

// // Layout
@import "clearfix";
// @import "mixins/navbar-align";
@import "grid-framework";
@import "grid";
@import "float";
