<div id="div0">
    <div id="div1">
        <div id="logo">
            <img id="image1-Web" src="./../../assets/web/CX_Go_Logo_Web.svg" alt="CEMEX Go Logo">
            <img id="image1-Mobile" src="./../../assets/mobile/CX_Go_Logo_Mobile.svg" alt="CEMEX Go Logo">
            <h2>Building
                <br/>the future</h2>
        </div>
        <div id="text">
            <h1>We are currently
                <br/>under maintenance</h1>
            <h4>Planned maintenance from Saturday June 9th
                <br/>at 20:00 hrs CDT until Sunday June 10th at
                <br/>12:00 hrs CDT</h4>
            <!-- <h1>{{ translation.pt('views.welcome.under_maintenance') }}</h1> -->
            <!-- <h4>{{ translation.pt('views.welcome.planned_schedule') }}</h4>   -->      
        </div>
    </div>
    <div id="div2">
        <img id="image2-Web" src="./../../assets/web/Maintenance_graphic_Web.svg" alt="Maintenance Logo">
        <img id="image2-Mobile" src="./../../assets/mobile/Maintenance_graphic_Mobile.svg" alt="Maintenance Logo">
    </div>
</div>



