#div0 {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#div2 {
    display: flex;
}
#logo{
    display: flex;
}
h2{
    align-self: center;
    font-weight: 800;
    margin-left: 8px;
}
#image1-Mobile {
    display: none;
}
#image2-Mobile {
    display: none;
}

@media only screen and (max-width: 999px) {
    #image1-Web {
        display: none;
    }
    #image1-Mobile {
        display: flex;
    }
    #image2-Web{
        display: none;
    }
    #image2-Mobile {
        display: flex;
    }
    #logo { flex-grow: 1; }
    
    #text { flex-grow: 2; }
    h1{
        font-size: 2rem;
        line-height: 2.2rem;
    }
    h2{
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    h4{
        font-size: 1rem;
        line-height: 1.2rem;
    }
  }
  @media only screen and (max-width: 500px) {
    #div0 {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #div1{
        justify-content: space-around;
        flex-grow: 1;
    }
    #div2{
        flex-grow: 1;
    }
    #text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }

  
  @media only screen and (min-width: 1000px) {
    #logo{ flex-grow: 1; }
    
    #text { flex-grow: 2; }

    h1{
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2rem;
        
    }
    h4{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
  }


  

