// APP.SCSS
// --------

// Imports the components needed to build the app

@import "components/reset";
@import "components/grid";

// Import bootstrap responsive table
@import "mixins/table-row";
@import "components/tables";

// Import floats
@import "mixins/float";

// Import the toggler component styles
@import "components/_toggle-switch";

// Import colors
@import "variables/colors";

// Import radius
@import "variables/radius";

// Import borders
@import "variables/borders";

// Import typography rules
@import "components/typography";

// Import buttons
@import "components/buttons";

// Import SVG Icons
@import "components/icons";

// Import Font Icons
@import "components/font-icons";

// Import form components
@import "components/forms";

// Import nav file for tabs
@import "components/nav";

// Import progressbar file for progressbars
@import "components/progress";

// start helper classes
.no-padding {
	padding: 0;
	overflow-x: hidden;
}

.spacer-8 {
	width: 			100%;
	height: 		0.5rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-16 {
	width: 			100%;
	height: 		1rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-24 {
	width: 			100%;
	height: 		1.5rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-32 {
	width: 			100%;
	height: 		2rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-48 {
	width: 			100%;
	height: 		3rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.h-delimiter {
	width: 			100%;
	height: 		1px;
	background: 	$disabled-grey;
}

.toggle-menu {
	display: 		inline-block;
    width: 			24px;
    height: 		24px;
    margin: 		4px 16px;
}

.img-responsive {
	width: 100%;
}

.clear {
	clear: both;
}

table th,
table td {
	min-width: 160px;
	vertical-align: middle;
	font-size: $font-size-14; 
}

// end helper classes

html {
	height: 100%;
}

body {
	font-family: 			$font-family;
	background: 			$background-grey;
	-webkit-font-smoothing: antialiased; // prevent blurry fonts

	position: relative;
	min-height: 100%;
}

.start-icon-white {
	fill: $true-white;
}
.grid-icon-white {
	fill: $true-white;
}
.typography-icon-white {
	fill: $true-white;
}
.colors-icon-white {
	fill: $true-white;
}
.buttons-icon-white {
	fill: $true-white;
}
.icons-icon-white {
	fill: $true-white;
}
.navigation-icon-white {
	fill: $true-white;
}
.dashboard-modules-icon-white {
	fill: $true-white;
}
.tables-icon-white {
	fill: $true-white;
}
.maps-icon-white {
	fill: $true-white;
}
.forms-icon-white {
	fill: $true-white;
}
.alerts-icon-white {
	fill: $true-white;
}
.modals-icon-white {
	fill: $true-white;
}
.date-time-icon-white {
	fill: $true-white;
}
.components-icon-white {
	fill: $true-white;
}
.progressbar-icon-white {
	fill: $true-white;
}
.mobile-icon-white {
	fill: $true-white;
}
.missing-page-icon-white {
	fill: $true-white;
}
.grid-icon {
	fill: $bright-blue;
}
.typography-icon {
	fill: $bright-blue;
}
.colors-icon {
	fill: $bright-blue;
}
.buttons-icon {
	fill: $bright-blue;
}
.icons-icon {
	fill: $bright-blue;
}
.navigation-icon {
	fill: $bright-blue;
}
.dashboard-modules-icon {
	fill: $bright-blue;
}
.tables-icon {
	fill: $bright-blue;
}
.maps-icon {
	fill: $bright-blue;
}
.forms-icon {
	fill: $bright-blue;
}
.alerts-icon {
	fill: $bright-blue;
}
.modals-icon {
	fill: $bright-blue;
}
.date-time-icon {
	fill: $bright-blue;
}
.components-icon {
	fill: $bright-blue;
}
.progressbar-icon {
	fill: $bright-blue;
}
.mobile-icon {
	fill: $bright-blue;
}
.missing-page-icon {
	fill: $bright-blue;
}

.box-card-icon {
	width: 80px;
	height: 80px;
}

.main-header-wrap {

	header {
		text-align: center;
	}

	.user-links {
		font-weight: 	$font-bold;
		font-family: 	$font-family;
		font-size: 		$font-size-14;
		text-align: 	right;

		.notifications {
			display: 	inline-block;
			margin-top: 8px;
			padding: 	0 16px;

			a {
				color: 	$true-red;
			}
		}

		.username {
			display: inline-block;
			margin-top: 8px;
			padding: 0 16px;

			a {
				color: $bright-blue;
			}
		}
	}
}

#wrapper {
	width: 		100%;
}

.navbar-static-side {
	z-index: 	2001;
    position: 	absolute;
    width: 		160px;
    height: 	100%;
}

.navbar-default {
	background-color: $true-blue;
}

ul.nav {
	list-style: none;
	padding: 	0;
}

.nav-header {
	min-height: 	88px;
	background: 	$medium-blue;
	padding: 		24px 16px;
	color: 			$true-white;
	font-family: 	$font-family;
	font-size: 		$font-size-14;
	
	p {
		font-weight: $font-regular;
	}

	a {
		color: 		$true-white;
		font-weight: $font-bold;
	}
}

ul.nav li a {
	color: 			$background-grey;
    padding: 		16px 32px;
    display: 		inline-block;
    width: 			100%;
    font-size: 		14px;
    font-weight: 	normal;
    transition: 	all 0.3s;
    text-decoration: none;
    
    &:hover {
    	color: 			$true-white;
    	background: 	$deep-blue;
    }
    
    &.active {
    	color: 			$true-white;
    	background: 	$bright-blue;
    }
}


.page-wrapper {
	margin: 2px 0 0 160px;
}

.main-header-wrap {
	background: 	$true-white;
	padding: 		0.5rem;
	border-bottom: 	2px solid $true-red;
}

.page-wrapper {

	a.card-container {
		display: 			block;
		text-decoration: 	none;
		transition: 		all 0.2s;
		color: 				$bright-blue;

		.box {
			background: 	$true-white;
			border-radius: 	$radius-4;
			min-height: 	146px;
			margin-bottom: 	16px;
			padding: 		8px;
			border: 		1px solid $true-white;
	    	box-shadow: 	0 1px 3px $disabled-grey;
	    	display: 		flex;
	    	align-items: 	center;
	    	justify-content: space-around;

			img {
				width: 	30%;
				padding: 	16px;
			}

			h2 {
				width: 			50%;
				font-size: 		$font-size-18;
				font-weight: 	$font-bold;
				font-family: 	$font-family;
				color: 			$bright-blue;
				line-height:    $line-height-24;
				text-decoration: none;
			}
		}

		&:hover {
			box-shadow: 0 2px 6px $disabled-grey;
		}
	}

	.paragraph-group {

		p:last-child {
			margin-bottom: 2rem;
		}
	}
}

// START GRID DEMO PAGE

	.soft-highlight-demo {
		background: #fffbc2;
	}

	.grid-block-demo {
		background: 			#fffbc2;
	    border: 				1px solid #e4df93;
	    color: 					$dark-grey;
	    min-height: 			60px;
	    display: 				flex;
	    align-items: 			center;
	    justify-content: 		center;
		span {
			align-content: 		center;
			justify-content: 	center;
		}
	}

// END GRID DEMO PAGE


// START TYPOGRAPHY DEMO PAGE

	.rules-box {
		background: #fffbc2;
	    padding: 20px;
	    border-radius: 2px;
	    border: 1px dashed $medium-grey;
	}

	.demo-type-block {
		background-color: 	$true-blue;
		color: 				$true-white;
		border-radius: 		$radius-2;
		width: 				100%;
		padding: 			24px;
		@include float-left;

		.float-right {
			@include float-right;
		}

		.demo-type-sample {
			font-size: 		$font-size-56;
			line-height: 	$line-height-56;
			display: 		inline-block;
			@include float-left;
		}

		.demo-type-family {
			font-size: 		$font-size-20;
			line-height: 	$line-height-20;
			width: 			100%;
			display: 		inline-block;
		}

		&.roboto-bold {
			font-weight: $font-bold;
		}

		&.roboto-medium {
			font-weight: $font-medium;
		}

		&.roboto-regular {
			font-weight: $font-regular;
		}

		&.roboto-light {
			font-weight: $font-light;
		}

		&.roboto-thin {
			font-weight: $font-thin;
		}
	}

	.demo-type {
		font-size: 		$font-size-26;
		line-height: 	$line-height-32;
		margin: 		30px 0;
	}

// END TYPOGRAPHY DEMO PAGE


// START COLORS DEMO PAGE

	.demo-color-box {
		width: 100%;
		min-height: 120px;
		margin-bottom:20px;
	}

	.demo-border-box {
		border: 1px solid #cacaca;
	}

	.color-hex-name {
		line-height: 1.2;
	}

	.background-grey {
		background: $background-grey;
	}

	.true-blue {
		background: $true-blue;
	}

	.medium-blue {
		background: $medium-blue;
	}

	.true-white {
		background: $true-white;
	}

	.dark-grey {
		background: $dark-grey;
	}

	.medium-grey {
		background: $medium-grey;
	}

	.true-red {
		background: $true-red;
	}

	.bright-blue {
		background: $bright-blue;
	}

	.bright-orange {
		background: $bright-orange;
	}

	.bright-green {
		background: $bright-green;
	}

	.disabled-grey {
		background: $disabled-grey;
	}

	.deep-blue-text {
		background: $deep-blue;
	}

	.table-highlight-grey {
		background: $table-highlight-grey;
	}

// END COLORS DEMO PAGE


// START BUTTONS DEMO PAGE

	.pagination {
		list-style: none;
		padding: 0;
		margin:0;
		li {
			display: inline-block;
			margin: 0 8px;
			float:left;
			a {
				font-size: $font-size-14;
				line-height: 22px;
				width: 24px;
				height: 24px;
				display: inline-block;
				color: #5C6570;
				float: left;
				text-decoration: none;
				border-radius: $radius-2;
				text-align: center;
				border: 1px solid transparent;
				&:hover,
				&.hover {
					border: 1px solid $bright-blue;

				}
				&.current {
					color: $true-white;
					background: $bright-blue;
				}
			}

			svg {
				width: 8px;
				height: 12px;
				fill: $bright-blue;
				transition: all 0.25s;
			}
		}
	
		.pagination-prev,
		.pagination-next {
			&.hide {
				display: none;
			}
		}

		.pagination-prev,
		.pagination-next {
			&:hover,
			&.hover {
				a {
					border:0 none;
					svg {
						width: 16px;
						height: 20px;
						fill: $bright-blue;
					}
				}
			}			
		}
	}

// END BUTTONS DEMO PAGE


// START ICONS DEMO PAGE

	.icon-wrap-container {
		float: left;
		width: 100%;
		margin-bottom: 20px;

		&.icon-size-12 {
			svg {
				width: 14px;
				height: 14px;
				margin-right: 18px;	
			}
			span {
				padding-top:4px;
			}
		}
		
		.icon-demo-background {
			background: $deep-blue;
			float: left;
			width: 42px;
			height: 42px;
			margin-right: 20px;
		}

		svg {
			float: left;
			margin: 9px;
		}

		span {
			float: left;
			display: inline-block;
			padding-top: 8px;
		}
	}

	.font-icons-wrap {

		[class^="cmx-icon-"], [class*=" cmx-icon-"] {
			font-size: $font-size-24;
		}

		.demo-font-icon {
			font-size: $font-size-16;
			margin-bottom: 16px;
		}

		.demo-font-box {
			margin-bottom: 40px;

			input {
				font-size: 1rem;
				margin: 0;
				padding: 0;
				border: 0;
				width: 45%;
				background: none;
				border-bottom: 1px solid $disabled-grey;
				display: inline-block;
				float:left;
				margin-right: 5px;
			}
		}

		.mls {
			font-size: $font-size-16;
		}
		

		.unitRight{
			text-align: right;
		}

	}
// END ICONS




// START NAVIGATION DEMO PAGE

	.main-nav-bar {
		position: relative;
		width: 100%;
		height: 54px;
		background: $medium-blue;

		.cmx-logo {
			width: 133px;
			height: 28px;
			fill: $true-white;
			margin-top: 13px;
			margin-left: 13px;
			float: left;
			opacity: 0.8;
			transition: all 0.2s;

			&:hover {
				opacity: 1;
			}
		}

		.circle {
			font-weight: $font-bold;
			font-size: $font-size-14;
			border-radius: 50px;
			width: 32px;
			height: 32px;
			color: $true-white;
			text-align: center;
			line-height: $line-height-32;
			float: left;
			&.red-circle {
				background: $true-red;	
			}
			&.deep-blue-circle {
				background: $deep-blue;
			}
		}

		.main-nav-items {

			float: right;
			height: 54px;

			.main-nav-item {
				float: left;
				display: inline-block;
				position: relative;
			}

			.vertical-bar {
				width: 1px;
				height: 32px;
				background: $true-white;
				opacity: 0.3;
				margin: 12px 0;
				float: left;
			}

			.notifications {
				position: relative;
				float: left;
				font-weight: $font-bold;
				font-size: $font-size-14;
				color: $true-white;
				margin: 10px 12px;
				cursor: pointer;

				.as-label {
					padding: 6px 12px;
					opacity: 0.8;
					float: left;

					&:hover {
						opacity: 1;
					}
				}
			}	

			.search-container {
				margin: 16px 12px 6px 12px;
				fill: $true-white;
				opacity: 0.8;
				width: 28px;
				height: 32px;

				&:hover {
					opacity: 1;
				}

				svg {
					fill: $true-white;
				}
			}

			.user-logged {
				margin: 12px;
				.circle {
					font-weight: $font-bold;
					font-size: $font-size-14;
					border-radius: 50px;
					width: 32px;
					height: 32px;
					background: $true-white;
					color: $deep-blue;
					text-align: center;
					text-transform: uppercase;
					line-height: $line-height-32;
					opacity: 0.8;
					
					&:hover {
						opacity: 1;
					}
				}
			}
		}


		.sub-nav-loader {
			width: 100%;
			height: 2px;
			background: $true-red;
			float: right;
			clear: both;

			@keyframes slideInFromLeft {
			    0% {
			        transform: scaleX(0);
			        transform-origin: left;
			    }
			    100% {
			        transform: scaleX(1);
			        transform-origin: left;
			    }
			}
			animation: 1.5s ease-out 0.5s 1 slideInFromLeft;
		}

	}

	.notifications-container {
		position: absolute;
		z-index: 1000;
		width: 382px;
		background: $true-white;
		border-top: 2px solid $bright-blue;
		top: 52px;
		right: 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		display: none;
	}

	.notifications-list {
		padding: 16px;
	}

	.notification-entry {
		float: left;
		clear: both;
		margin-bottom: 16px; 
	}

	.notification-entry .notification-icon {
		float: left;
		width: 24px;
		margin-right: 16px;
	}

	.notification-entry .notification-data {
		float: left;
		width: 310px;
	}

	.notification-entry h5 {
		margin-bottom: 8px;
	}

	.notification-entry p {
		font-size: $font-size-12;
		line-height: $line-height-16;
		max-width: 280px;
		margin-bottom: 8px;
	}

	.notification-entry .call-to-action {
		font-size: $font-size-12;
		font-weight: $font-medium;
		line-height: $line-height-12;
		float: right;
		margin-bottom: 16px;
	}

	.notification-entry:last-child .call-to-action {
		margin-bottom: 0;
	}

	.horizontal-dotted {
		width: 100%;
		height: 1px;
		background: url("../images/dotted-tile.png") repeat-x;
		float: left;
	}

	.main-cta {
		float: right;
		font-weight: $font-bold;
		font-size: 14px;
		padding: 16px;
	}

	.search-holder {
		position: absolute;
		top: 14px;
		right: 12px;
		width: 340px;
		min-height: 40px;
		display:none;

		input[type="submit"] {
			display: none;			
		}

		.fake-submit {
			width: 24px;
			height: 24px;
			display: inline-block;
			float: left;
			fill: $true-white;
			margin-right: 8px;
			margin-top: 2px;
			cursor: pointer;
		}

		input[type="search"] {
			background: none;
			border: 0 none;
			width: 270px;
			margin-right: 16px;
			border-bottom: 1px solid $true-white;
			display: inline-block;
			float: left;
			color: $true-white;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $true-white;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $true-white;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $true-white;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $true-white;
			}

			&:focus,
			&:active {
				outline: 0 none;
			}
		}
		.dismiss-search {
			cursor: pointer;

			svg {
				width: 14px;
				height: 14px;
				margin-top: 8px;
				fill: $true-white;
			}
		}
	}

	.user-logged {
		cursor: pointer;
	}

	.user-logged-container {
		position: absolute;
		z-index: 1000;
		width: 260px;
		background: $true-white;
		border: 1px solid $disabled-grey;
		top: 52px;
		right: 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		padding: 8px;
		display: none;

		.arrow-up {
			width: 0; 
			height: 0; 
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid $true-white;
			position: absolute;
		    top: -8px;
		    right: 20px;
		}

		.circle {
			float: left;
			margin: 0 8px 8px 8px;
			width: 32px;
		}

		.user-logged-details {
			float: left;
			width: 192px;
			margin: 4px 0 8px 0;
			h4 {
				width: 100%;
				float: left;
				font-size: $font-size-16;
				line-height: $line-height-16;
				font-weight: $font-medium;
			}
			.email {
				width: 100%;
				float: left;
				font-size: $font-size-10;
				line-height: $line-height-10;
				font-weight: $font-light;
			}
		}

		.call-to-action {
			float: left;
			width: 100%;
			font-size: $font-size-12;
			font-weight: $font-light;

			.settings-link,
			.signout-link {
				color: $deep-blue;
				float: left;
				margin: 8px;
			}

			.signout-link {
				float: right;
			}
		}
		
	}


	.side-nav-bar {

		&.demo-position-faked {
			//used for demo purpose
			position: relative;
			// height is dynamic - this is for demo purpose
			height: 500px;
		}

		z-index: 	2001;
    	position: 	absolute;
		width: 		160px;
    	// min-height: 100%;	
    	background: $true-blue;


		background-image: linear-gradient(to right, $medium-blue 43px, $true-blue 42px);

		.collapse-trigger,
		.expand-trigger {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 22px;
			background: #021A35;
			cursor: pointer;

			svg {
				position: absolute;
				top: 6px;
				fill: $true-white;
				width: 14px;
				height: 10px;
				margin-left: 3px;
			}
		}

		.expand-trigger {
			display: none;
			right: -20px;
		}

		.legal-entity {
			background: $medium-blue;
			color: $true-white;
			padding: 33px 0 17px 12px;
			.legal-entity-name {
				color: $true-white;
				font-size: $font-size-14;
				line-height: $line-height-16;
				font-weight: $font-medium;
			}
			.legal-entity-id {
				color: $true-white;
				font-size: $font-size-10;
			}
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;

			li {
				
				float: left;
				width: 100%;

				a {
					display: inline-block;
					color: $true-white;
					//border-bottom: 1px solid $true-blue;

					float: left;
					width: 100%;

					line-height: 26px;

					.icon {
						width: 42px;
						height: 48px;
						display: inline-block;
						float: left;
						opacity: 0.8;
						transition: all 0.2s;

						&.padding-helper {
							padding:10px;
						}
					}

					.icon-sidemenu {
						position: absolute;
						margin-top: 12px;
						margin-left: 10px;
						opacity: 0.8;
						fill: $true-white;
						transition: all 0.2s;
					}

					.as-label {
						display: inline-block;
						padding: 14px 12px;
						float: left;
						width: calc(100% - 44px);
						color: $true-white;
						font-size: $font-size-14;
						line-height: $line-height-20;
						text-decoration: none;
						opacity: 0.8;
						transition: all 0.2s;
					}

				}



				&:hover {
					.icon {
						opacity: 1;
					}
					.icon-sidemenu {
						opacity: 1;
					}
					.as-label {
						opacity: 1;
					}
				}

				.active {
					
					background-image: linear-gradient(to right, $deep-blue 43px, $medium-blue 42px);

					.icon-sidemenu {
						opacity: 1;
					}

					.as-label {
						font-weight: $font-medium;
						opacity: 1;
					}
				}	
			}

			.side-subnav {
				float: left;
				margin-left: 43px;

				li {
					display: inline-block;
					float: left;
					border-bottom: 1px solid #214e80; 

					a {
						display: inline-block;
						font-size: $font-size-12;
						line-height: $line-height-14;
						background: #10447E;
						padding: 8px 10px 8px 10px;
						text-decoration: none;
						transition: all 0.2s;

						&:hover {
							// no hover state described in the styleguide
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.cmx-stepper {
		overflow: hidden;
	    position: relative;

	    .cmx-progress {
	    	position: absolute;
    		top: 24px;
    		left: 0;
    		width: 68%;
    		height: 1px;
    		background: $bright-blue;
    		margin-left: 16%;
	    }

	    .cmx-step {
	    	position: relative;
    		float: left;
    		width: 33.333333%;
    		padding: 0 5px;
    		text-align: center;

    		p {
    			font-size: $font-size-14;
    			font-weight: $font-regular;
    			line-height: $line-height-14;
    		}

    		&.completed {
    			.cmx-step-icon {
    				background: $bright-green;
    			}
    		}

    		&.active {
    			.cmx-step-icon {
    				background: $bright-blue;
    			}

    			p {
    				font-weight: $font-medium;
    			}
    		}

    		&.inactive {
    			.cmx-step-icon {
    				background: $disabled-grey;
    			}
    		}
	    }

	    .cmx-step-icon {
	    	display: inline-block;
		    width: 40px;
		    height: 40px;
		    margin-top: 4px;
		    margin-bottom: 8px;
		    background: #ddd;
		    font-size: 16px;
		    color: #fff;
		    line-height: 40px;
		    border-radius: 50%;
		    font-weight: $font-medium;
		    font-size: $font-size-26;

		    svg {
		    	margin-top: 8px;
		    	fill: $true-white;
		    }
	    }

	    &.cmx-stepper-2 {
			// some width(s) definitions need to change
	    	.cmx-progress {
				width: 50%;
				margin-left: 25%;
	    	}

			.cmx-step {
				width: 50%;
			}
	    }

	    &.cmx-stepper-4 {
	    	// some width(s) definitions need to change
	    	.cmx-progress {
				width: 76%;
				margin-left: 12%;
	    	}

			.cmx-step {
				width: 25%;
			}
	    }

	    &.cmx-stepper-5 {
	    	// some width(s) definitions need to change

			.cmx-progress {
				width: 82%;
				margin-left: 9%;
			}

			.cmx-step {
				width: 20%;
			}
	    }
	}

	.form-group {

		.advanced-search-wrapper {
			position: relative;
			width: 100%;
			min-height: 48px;
			background: #fff;
			border: 1px solid #D7D7D7;
			border-radius: $radius-3;

			.search-tag {
				background: #E7EAEE;
				color: $deep-blue;
				font-size: $font-size-14;
				line-height: $line-height-16;
				border-radius: $radius-2;
				display: inline-block;
				padding:8px 16px;
				font-weight: bold;
				margin: 8px 4px;

				&:first-child {
					margin-left:8px;
				}

				span {
					display: inline-block;
					//border: 1px solid red;
				}

				a {
					width: 10px;
					height: 10px;
					//border: 1px solid red;
					display: inline-block;
					margin-left: 8px;

					svg {
						width: 10px;
						height: 10px;
						//border:1px solid green;
					}
				}
			}

			input[type="text"] {
				padding: 0;
				border: 0 none;
			}

			input[type="search"] {
				display: none;
			}

			input[type="submit"] {
				width: 48px;
				height: 48px;
				position: absolute;
				top: 0;
				right: 0;
				background-color: $bright-blue;
				border-radius: $radius-3;
				border: 0 none;
				cursor: pointer;
			}

			.search-button-icon {
				position: absolute;
				top: 16px;
				right: 8px;
				color: $true-white;
				cursor: pointer;
			}
		}
	}

	.card {
		background: #FFF;
    	border-radius: 2px;
    	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);

    	.card-header {
    		padding: 24px 16px 0 16px;
    	}

    	.category-label {
    		font-size: $font-size-14;
    		line-height: $line-height-14;
    		font-weight: $font-bold;
    		color: #333;
    		margin-bottom: 8px;
    	}

    	h3 {
    		font-weight: $font-bold;
    		margin-bottom: 8px;
    	}

    	.result-id {
    		font-size: $font-size-14;
    		line-height: $line-height-14;
			
    		a {
    			font-weight: $font-bold;
    		}
    	}

    	.time-label {
    		font-size: $font-size-12;
    		font-weight: $font-regular;
    		color: #666;
    	}

    	.card-content {
    		padding: 24px 16px 32px 16px;

    		font-size: $font-size-14;
    		line-height: $line-height-16;
    	}

    	.card-footer {
    		padding: 16px;

    		.call-to-action {
    			float: right;
    			text-transform: uppercase;
    			font-weight: $font-medium;
    			font-size: $font-size-12;
    			line-height: $line-height-12;
    		}
    	}
	}



// END NAVIGATION DEMO PAGE


// START FORMS DEMO PAGE

	.form-group {

		label {
			display: inline-block;
			font-size: $font-size-12;
			line-height: $line-height-12;
			color: $deep-blue;
			padding-bottom: 6px;
			margin-bottom: 0px;
			cursor: pointer;
		} // end label

		.form-control {
			display: block;
			width: 100%;
		} // end form-control

		&.active {
			input[type="text"],
			input[type="email"],
			input[type="number"],
			select,
			textarea {
				border: 1px solid $bright-blue;
				background: $true-white;
			}

			//number field treatment
			.number-field-wrapper {
				.number-field-btn {
					&.minus-btn {
						border-right: 1px solid #ADAEBB;
						svg {
							fill: $bright-blue;
						}
					}
					&.plus-btn {
						border-left: 1px solid #ADAEBB;
						svg {
							fill: $bright-blue;
						}
					}
				}
			} // end number-field-wrapper	
		} // end active class

		&.error {
			input[type="text"],
			input[type="email"],
			input[type="number"],
			select,
			textarea {
				border:1px solid $true-red;
				background: rgba(238, 61, 66, 0.05);

				&:active,
				&:focus,
				&.active,
				&.focus {
					outline: 0 none;
					border-color: $bright-blue;
					background: $true-white;
				}
			}
			.error-message {
				font-size: $font-size-12;
				color: $true-red;
				width: 100%;
				display: inline-block;
				text-align: right;
			}

			//number field treatment
			.number-field-wrapper {
				.number-field-btn {
					&.minus-btn {
						border-right: 1px solid $true-red;
						svg {
							fill: $true-red;
						}
					}
					&.plus-btn {
						border-left: 1px solid $true-red;
						svg {
							fill: $true-red;
						}
					}
				}

				// a more complex hover interaction on the element
				// because has the buttons (+/-) contained as sub-elements
				&:hover {
					.minus-btn,
					.plus-btn {
						svg {
							fill: $bright-blue;
						}
					}
					.minus-btn {
						border-right: 1px solid #ADAEBB;
					}
					.plus-btn {
						border-left: 1px solid #ADAEBB;
					}
				} // end complex hover interaction
			} // end number-field-wrapper	
		} // end error class

		input[type="text"],
		input[type="email"],
		input[type="number"],
		select,
		textarea {
			font-size: $font-size-16;
			line-height: $line-height-16;
			border-radius: $radius-3;
			height: 48px;
			padding: 16px;
			border: 1px solid #ADAEBB;
			background: $true-white;

			&:hover, 
			&:active,
			&:focus,
			&.hover,
			&.active,
			&.focus {
				outline: 0 none;
				border-color: $bright-blue;
				background: $true-white;
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: $medium-grey;
			  font-size: $font-size-16;
			}
		} // end input(s) basic definition

		// select
		select {
			font-size: $font-size-16;
			line-height: $line-height-16;
			border-radius: $radius-3;
			height: 48px;
			border: 1px solid #ADAEBB;
			background: $true-white;
			cursor: pointer;
			text-indent: 7px;

			&:hover,
			&:focus,
			&:active,
			&.hover,
			&.focus,
			&.active {
				outline: 0 none;
				border-color: $bright-blue;
				background: $true-white;
			}
		} // end select separate definition

		// textarea 
		textarea {
			min-height: 104px;
			font-size: $font-size-16;
			line-height: $line-height-18;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: $medium-grey;
			  font-size: $font-size-16;
			  line-height: $line-height-18;
			}
		}

		// number type
		input[type="number"] {
			text-align: center;
		}

		// hiding the number type spinner
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.number-field-wrapper {
			position: relative;

			// button rules
			button {
				cursor: pointer;
				background: none;
				border: 0 none;
				width: 46px;
				height: 46px;
				line-height: 46px;

				&:focus,
				&:active {
					outline: 0 none;
				}
			} // end buttons rules

			.number-field-btn {
				display: inline-block;
				width: 46px;
				height: 46px;
				line-height: 46px;

				// positioning the minus button
				&.minus-btn {
					position: absolute;
					bottom: 1px;
					left: 1px;
					border-right:1px solid #ADAEBB;

					svg {
						width: 16px;
						margin-top: 10px;
						fill: $bright-blue;
					}

					&:hover,
					&:focus,
					&:active {
						border-right: 1px solid $bright-blue;
					}
				} // end minus-btn

				// positioning the plus button
				&.plus-btn {
					position: absolute;
					bottom: 1px;
					right: 1px;
					border-left: 1px solid #ADAEBB;

					svg {
						width: 16px;
						margin-top: 9px;
						fill: $bright-blue;
					}

					&:hover,
					&:focus,
					&:active {
						border-left: 1px solid $bright-blue;
					}
				} // end plus-btn
			} // end number field btn
		} // end number field wrapper
	} // end form group

	// select dropdown
	.select-dropdown {
		width: auto;
		border-top: 3px solid $bright-blue;
		background: $true-white;
		border-radius: $radius-3;
		box-shadow: 0 8px 13px rgba(0,0,0,0.3);
		min-height: 160px;
		max-height: 220px;
		overflow-y: scroll;

		.select-dropdown-item {
			padding: 15px;

			&:hover {
				background: $background-grey;
			}
		}

		.select-dropdown-filter {

			padding-left: 16px;

			&:first-child {
				margin-top: 8px;
			}

			&:last-child {
				margin-bottom: 8px;
			}
			
			label {
				font-size: $font-size-14;
				line-height: $line-height-24;
				margin-bottom: 0;

				span {
					display: inline-block;
					padding-top: 6px;
				}
			}

			svg {
				width: 14px;
				margin-top:6px;
			}
		}
	}

// END FORMS DEMO PAGE


// START ALERTS DEMO PAGE

	.alert-bar {
		width: 100%;
		min-height: 32px;
		color: $true-white;
		font-size: $font-size-14;
		font-weight: $font-bold;
		line-height: $line-height-14;
		float: left;

		a {
			font-size: $font-size-14;
			font-weight: $font-bold;
			color: $true-white;
			line-height: $line-height-14;
			text-decoration: underline;
		}

		p {
			padding: 8px 16px;
			float: left;
			line-height: $line-height-14;
			width: calc(100% - 46px);
			font-family: $font-name;
		}
		.close {
			float: right;
			padding: 8px 16px;
			cursor: pointer;
			svg {
				width: 14px;
				height: 14px;
				fill: $true-white;	
			}
		}

		&.cmx-red {
			background: $true-red;
		}

		&.cmx-orange {
			background: $bright-orange;
		}

		&.cmx-blue {
			background: $bright-blue;
		}

		&.cmx-green {
			background: $bright-green;
		}
	}

// END ALERTS DEMO PAGE


// START MAPS DEMO PAGE

	#map {
		height: 202px;
	}

	code {
	   display: block;
	   white-space: pre;
	}

	// demo of map with overlay ribbon
	.google-wrapper {
    	position: relative;
	}

	#map2 {
	    min-height : 202px;
	}

	#map3 {
	    min-height : 202px;
	}

	#google-map-overlay {
	    width  : 100%;
	    height : 32px;
	    background: rgba(0,0,0,0.7);
	    position: absolute; 
	    bottom: 0px; 
	    left: 0px; 
	    z-index: 99;

		.overlay-content {
			padding:10px;
			float: left;
		}

		.dot-legend {
			width: 12px;
			height: 12px;
			background: $bright-blue;
			display: inline-block;
			border-radius: 50%;
			margin-right: 8px;
			float: left;
		}

	    p {
	    	font-size: $font-size-10;
	    	line-height: $line-height-14;
	    	color: $true-white;
	    	float: left;
	    }
	}

	#google-map-overlay-side {
		width: 20%;
		height: 100%;
		background: rgba(0,0,0,0.7);
	    position: absolute; 
	    bottom: 0px; 
	    left: 0px; 
	    z-index: 99;

	    .overlay-content {
	    	padding: 24px 16px;
	    }

	    .map-input-group {
	    	margin-bottom: 24px;
	    	
	    	label {
	    		display: inline-block;
	    		width: 100%;
	    		color: #B8B8B8;
	    		font-size: $font-size-12;
	    		line-height: $line-height-12;
	    	}

	    	input[type="text"] {
				background: none;
				color: #B8B8B8;
				width: 100%;
				border: 0 none;
				border-bottom: 1px solid #B8B8B8;
				font-size: $font-size-18;
				line-height: $line-height-20;
				font-weight: $font-light;
				padding-bottom: 6px;
	    	}
	    }
	}

	.popover {
		width: 280px;
		background: $true-white;
		border-radius: $radius-2;
		box-shadow: 0 1px 3px rgba(0,0,0,0.15);
		position: relative;

		.popover-header {
			background: $bright-blue;
			color: $true-white;
			font-weight: $font-bold;
			text-transform: uppercase;
			font-size: $font-size-16;
			line-height: $line-height-16;
			border-radius: $radius-2;
			padding: 10px 12px;
		}
		.popover-body {
			padding: 16px;			
		}

		.arrow-down {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				margin-left: -24px;
				bottom: -24px;
				left: 50%;
				box-sizing: border-box;
				border: 12px solid black;
				border-color: transparent transparent $true-white $true-white;
				transform-origin: 0 0;
				transform: rotate(-45deg);
				box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.15);
			}
		}
		// end arrow down
	} 

// END MAPS DEMO PAGE

// START MODALS PAGE
	.modal-container {
		max-width: 784px;
		margin: 0 auto;
		background: $true-white;

		.modal-close svg {
			float: right;
			width: 20px;
			height: 20px;
			margin: 24px;
		}
		
		.modal-interactive {
			
			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-header {
				clear: both;
				margin:  0 24px;
			}

			.modal-body {
				clear: both;
				padding: 0 24px;

				p {
					font-size: 		$font-size-12;
					font-weight: 	$font-bold;
				}
			}
		}

		.modal-confirmation {
			
			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-body {
				clear: both;
				text-align: center;
				padding-bottom: 40px;

				svg {
					width: 120px;
					height: 120px;
				}
			}
		}

		.modal-informational {
			
			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-header {
				clear: both;
			}

			.modal-body {
				padding: 0 6px 40px 6px;
			}

			.modal-scrolling-content {
				position: relative;
				height: 424px;
				overflow-y: scroll;
				padding-right: 30px;
			}

			.white-fade {
				content: '';
				position: relative;
				margin-top: -70px;
				width: 100%;
				height: 80px;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
			}

			// styling the scrollbar on browsers that support it

			.modal-scrolling-content::-webkit-scrollbar {
				width: 8px;
				background-color: none;
			}

			.modal-scrolling-content::-webkit-scrollbar-track {
				
				background-color: none;
				border-radius: 8px;
			}

			.modal-scrolling-content::-webkit-scrollbar-thumb {
			    border-radius: 8px;
			    background: $disabled-grey;
			}
			
			.modal-scrolling-content::-webkit-scrollbar-thumb:hover {
			    border-radius: 8px;
			    background: $table-highlight-grey;
			    transition: all 0.4s;
			}
		}

		.modal-chat {

			h2, h3 {
				font-size: 		$font-size-22;
				line-height: 	$line-height-32;
				color: 			$dark-grey;
			}

			.modal-header {

				clear: both;
			}

			.modal-body {

				padding: 0 6px;
			}

			.modal-scrolling-content {
				position: relative;
				height: 424px;
				overflow-y: scroll;
				padding-right: 30px;	
			}

			.white-fade {
				content: '';
				position: relative;
				margin-top: -70px;
				width: 100%;
				height: 80px;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
			}

			.modal-footer {
				background: #E7EAEE;
				width: 100%;
				height: 56px;
				padding: 13px 26px;
				
				.chat-input-message {
					position: relative;
					width: 100%;
					border-bottom: 1px solid $medium-grey;
				}

				input[type="text"] {
					background: none;
					border: 0 none;
					width: calc(100% - 90px);
					outline: 0 none;
				}

				input[type="submit"] {
					min-width: 90px;
					text-align: right;
					background: none;
					border: 0 none;
					text-transform: uppercase;
					outline: 0 none;
					position: absolute;
					top: 4px;
					right: 0;
					z-index: 10;
					cursor: pointer;
					font-size: $font-size-12;
					font-weight: bold;
				}
			}

			.chat-stream {
				position: relative;
				width: 100%;
				overflow: hidden;
				padding-bottom: 40px;
			}

			.chat-bar {
				width: 1px;
				position: absolute;
				top:0;
				bottom:0;
				background-color: #ccc;
			}

			.chat-center {
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}

			.chat-entry {
				position: relative;
				width: 100%;
				min-height: 60px;
				margin-bottom: 16px;
				clear: both;
			}

			.chat-entry:nth-child(2n+1) .chat-bullet {
				width: 13px;
				height: 13px;
				position: absolute;
				top: 40px;
				border-radius: 50%;
				border: 3px solid $true-white;
				background: $bright-blue;
			}

			.chat-entry:nth-child(2n+2) .chat-bullet {
				width: 13px;
				height: 13px;
				position: absolute;
				top: 40px;
				border-radius: 50%;
				border: 3px solid $true-white;
				background: #F4F6F9;
			}

			.chat-entry-content {
				width: 47%;
				float: left;
				font-size: $font-size-12;
				line-height: $line-height-16;
				background-color: #F4F6F9;
				color: $dark-grey;
			}

			.chat-entry-header {
				background: $true-white;
				color: $dark-grey;
				float: left;
				clear: both;
				width: 100%;
				padding-bottom: 8px;
				margin-bottom: 16px;

				h6 {
					color: $dark-grey;
				}

				.time {
					float: left;
				}

				.author {
					float: right;
					font-weight: $font-bold;
				}
			}

			.chat-entry-body {
				padding: 16px 24px;
				position: relative;

				h6 {
					text-transform: uppercase;
					font-size: $font-size-10;
					color: $medium-grey;
					display: inline-block;
				}

				&::before {
					content: '';
				    position: absolute;
				    top: 40px;
				    left: auto;
				    right: 100%;
				    width: 0;
				    height: 0;
				    border-top: 6px solid transparent;
				    border-bottom: 6px solid transparent;
				    border-right: 8px solid $bright-blue;
				    border-left: transparent;
				}
			}

			.chat-entry:nth-child(2n+1) .chat-entry-content {
				margin-right: 0;
				float: right;
				background: $bright-blue;
				color: $true-white;

				h6 {
					color: $true-white;
				}
			}

			.chat-entry:nth-child(2n+2) .chat-entry-body {
				&::before {
					content: '';
				    position: absolute;
				    top: 40px;
				    right: auto;
				    left: 100%;
				    width: 0;
				    height: 0;
				    border-top: 6px solid transparent;
				    border-bottom: 6px solid transparent;
				    border-left: 8px solid #F4F6F9;
				    border-right: transparent;
				}	
			}


			// start styling the scrollbar on browsers that support it

			.modal-scrolling-content::-webkit-scrollbar {
				width: 8px;
				background-color: none;
			}

			.modal-scrolling-content::-webkit-scrollbar-track {
				background-color: none;
				border-radius: 8px;
			}

			.modal-scrolling-content::-webkit-scrollbar-thumb {
			    border-radius: 8px;
			    background: $disabled-grey;
			}
			
			.modal-scrolling-content::-webkit-scrollbar-thumb:hover {
			    border-radius: 8px;
			    background: $table-highlight-grey;
			    transition: all 0.4s;
			}

			// end styling the scrollbar on browsers that support it
		}

		// change the look of the chat-modal on small screens

		@media (max-width: 48rem) {

			.modal-chat {
				.chat-center {
					display: none;
				}

				.chat-entry {
					margin-bottom: 24px;
					float: right;
				}

				.chat-entry-content {
					width: 90%;
					float: none;
					font-size: $font-size-14;
				}

				.chat-entry:nth-child(2n+1) {
					//float: left;
				}

				.chat-entry:nth-child(2n+1) .chat-entry-content {
					float: right;
					margin-right: 10px;

					&::before {
						display: none;
					}
				}

				.chat-entry:nth-child(2n+2) .chat-entry-content {
					margin-left: 10px;

					&::before {
						display: none;
					}
				}

				.chat-entry:nth-child(2n+1) .chat-entry-body {
					&::before {
						content: '';
					    position: absolute;
					    top: 40px;
					    right: auto;
					    left: 100%;
					    width: 0;
					    height: 0;
					    border-top: 6px solid transparent;
					    border-bottom: 6px solid transparent;
					    border-left: 8px solid $bright-blue;
					    border-right: transparent;
					}
				}

				.chat-entry:nth-child(2n+2) .chat-entry-body {
					&::before {
						content: '';
					    position: absolute;
					    top: 40px;
					    left: auto;
					    right: 100%;
					    width: 0;
					    height: 0;
					    border-top: 6px solid transparent;
					    border-bottom: 6px solid transparent;
					    border-right: 8px solid #F4F6F9;
					    border-left: transparent;
					}
				}

				.modal-scrolling-content {
					padding-right: 16px;
					margin-right: 16px;
				}
			}
		}

		// end .modal-chat
	}


// END MODALS PAGE

// START TABLES PAGE

	.flag-status {
		width: 24px;
		height: 16px;
		display: inline-block;
		border-radius: $radius-2;
		margin-right: 8px;

		&.small-flag {
			width: 14px;
			height: 8px;
		}

		&.mobile-flag {
			width: 10px;
			height: 10px;
		}

		&.flag-red {
			background: $true-red;
		}

		&.flag-green {
			background: $bright-green;
		}

		&.flag-orange {
			background: $bright-orange;
		}

		&.flag-grey {
			background: $disabled-grey;
		}

		&.flag-blue {
			background: $bright-blue;
		}		
	}

	.table-container {
		
		// make a reset of the line-height
		line-height: 1;
		font-size: $font-size-14;

		/*
		 * Define the widths: play around with these to get a best fit.
		 */
		$cell-40: 40px;
		$cell-60: 60px;
		$cell-120: 120px;
		$cell-180: 180px;
		$cell-280: 280px;
		

		// Main container: initialize the flex, direction is row
		.table-row {
		  display: flex;           
		  flex-direction: row;     
		  flex-grow: 0;            
		  flex-wrap: wrap;         
		  width: 100%;
		  padding-left: 16px;
		  padding-right: 16px;
		}

		// Text based cells: grow, truncate and show ellipsis when there is not enough space
		.cell-280, .cell-180, .cell-120, .cell-60 {
		  flex-grow: 1;           
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  padding-left: 12px;
		  padding-right: 12px;
		}

		// Fix the minimum width of the leaf level cells
		.cell-280 {
		  width: $cell-280;
		}

		.cell-180 {
		  width: $cell-180;
		}

		.cell-120 {
		  width: $cell-120;
		}

		.cell-60 {
		  width: $cell-60;
		}

		.cell-40 {
			width: $cell-40;
		}

		/*
		 * General good-look styles, not mandatory.
		 */

		.table-row {
		  border-collapse: collapse;
    	  margin-bottom: 4px;
    	  padding: 10px 0px;

    	  &.table-row-tall {
    	  	padding: 22px 0;
    	  	margin-bottom: 8px;
    	  	box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    	  	border-radius: $radius-2;
    	  }

    	  &.table-row-light {
    	  	background: $true-white;
    	  }

    	  &.table-row-dark {
    	  	background: #E7EAEE;
    	  }

    	  &.header {
    	  	color: $deep-blue;
    	  	font-weight: $font-bold;

    	  	.icon-list-arrow {
				width: 10px;
				height: 10px;
				margin-left: 4px;
    	  	}
    	  }
		}

		ul.table-link-list {
			list-style: none;
			li {
				display: inline-block;
				margin-left: 16px;
				font-weight: $font-medium;
				a {
					cursor: pointer;
					&.secondary {
						color: $medium-grey;
					}
				}
			}
		}
	
		label {
			margin-bottom: 0;

			svg {
				width: 14px;
				height: 14px;
			}
		}
		
	}

	.large-header {
		background: $true-white;
		border-radius: $radius-2;
		padding: 16px;

		h1 {
			font-weight: $font-bold;
		}

		h4 {
			font-weight: $font-medium;
		}

		.flag-status {
			margin-top: 2px;
		}
		
		.status {
			font-size: 14px;
			font-weight: $font-bold;
			color: $deep-blue;
			margin-bottom: 14px;
		}

		.location {
			color: $deep-blue;
			margin-bottom: 48px;
		}

		.extra-info {
			font-size: $font-size-14;
			line-height: $line-height-18;
			color: $deep-blue;
		}

		.pre-header {
			font-size: $font-size-18;
			color: $deep-blue;
		}

		
	}
	

// END TABLES PAGE


// START DATE TIME PAGE

	.date-picker-container {
		width: 320px;
		min-height: 240px;
		background: $true-white;
		border-radius: $radius-2;
		font-weight: $font-bold;
		border-top: 3px solid $bright-blue;
		box-shadow: 0 5px 20px rgba(0,0,0,0.14);
		padding: 8px;

		.date-picker-header,
		.date-picker-body {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			
			table {
				width: 100%;

				td {
					min-width: 36px;
					width: 36px;
					height: 36px;
					font-size: $font-size-12;
					padding: 0px;
					text-align: center;
					color: $deep-blue;

					div {
						&.active-start {
							background: rgba(63, 169, 245, 0.2);
							background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 51%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
						}
						&.active-end {
							background: rgba(63, 169, 245, 0.2);
							background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(41,137,216,0) 50%,rgba(63, 169, 245, 0.2) 51%,rgba(63, 169, 245, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
						}
						&.in-range {
							background: rgba(63, 169, 245, 0.2);
						}
					}

					a {
						text-decoration: none;
						color: $deep-blue;
						display: inline-block;
						width: 26px;
						height: 26px;
						line-height: 24px;
						
						&:hover,
						&.hover {
							color: $bright-blue;
						}

						&:focus,
						&:active,
						&.active {
							color: $true-white;
							background: $bright-blue;
							border: 1px solid $bright-blue;
							border-radius: 100%;
						}



						&.disabled {
							color: $disabled-grey;
							cursor: default;
							&:hover {
								color: $disabled-grey;
							}
						}
					}
				}
			}
		}

		.date-picker-header {
			table {
				margin-bottom: 12px;

				td {
					font-size: $font-size-14;
					color: $deep-blue;
					line-height: $line-height-14;
					&:first-child {
						width: 15%;
					}
					&:last-child {
						width: 15%;
					}
				}
			}

			.prev-period,
			.next-period {	
				svg {
					width: 6px;
					fill: $bright-blue;
				}
			}
		}
	}

	// start scheduler
	.scheduler {
		width: 100%;

		.scheduler-header {
			position: relative;
			margin: 0 2px 2px 2px;
		}

		.scheduler-panel-title {
			width: 100%;
			height: 32px;
			background: $deep-blue;
			line-height: 32px;
			color: $true-white;
			text-align: center;
			text-transform: uppercase;
			font-weight: $font-medium;
			border-radius: $radius-2;

			a {
				color: $true-white;
				text-decoration: none;
				display: inline-block;
				//width: 200px;
				min-width: 200px;
				text-align: center;

				&.prev,
				&.next {
					width: 32px;
					min-width: 32px;
					max-width: 32px;
					height: 32px;
				}
			}

			a svg {
				fill: $true-white;
				width: 14px;
				height: 14px;
			}
		}

		.scheduler-panel-actions-right {
			position: absolute;
	    	top: 0;
	    	right: 0;
	    	z-index: 5;

	    	a {
		    	margin: 0;
		    	padding: 0;
		    	width: 32px;
		    	height: 32px;
		    	padding: 5px 0px;
		    	text-align: center;
		    	display: inline-block;
				svg {
					fill: $true-white;
					width: 13px;
					height: 13px;
				}
			}
		}

		.scheduler-panel-actions-left {
			position: absolute;
	    	top: 0;
	    	left: 0;
	    	z-index: 5;

	    	a {
		    	margin: 0;
		    	padding: 0;
		    	width: 32px;
		    	height: 32px;
		    	padding: 5px 0px;
		    	text-align: center;
		    	display: inline-block;
				svg {
					fill: $true-white;
					width: 13px;
					height: 13px;
				}
			}
		}
	}


	.scheduler-body {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;

		.scheduler-column {
			background: rgba(0,42,89,0.05);
			flex-grow: 1;
			margin: 2px;
			width: 100%;
			border-radius: $radius-2;

			.scheduler-column-title {
				border-radius: $radius-3;
				background: $medium-blue;
				text-align: center;
				font-size: $font-size-12;
				font-weight: $font-medium;
				text-transform: uppercase;
				color: #bfc9d5;
				height: 19px;
				margin: 4px;
			}

			.card {
				background: $true-white;
				border-radius: $radius-2;
				box-shadow: 0 2px 2px rgba(0,0,0,0.07);
				margin: 4px;
				font-size: $font-size-12;

				.card-body {
					padding: 8px;

					.status {
						margin-bottom: 8px;
						font-size: $font-size-10;
						display: flex;

						.status-message {
							flex-grow: 1;

							.flag-status {
								margin: 3px 6px 0 0;
							}
						}

						.load-status {
							color: $medium-grey;
						}
					}

					.content {
						.jobsite {
							font-weight: $font-bold;
						}
					}
				}

				.card-footer {
					padding:4px;

					.eta-hour {
						font-weight: $font-bold;
						text-align: right;
					}
				}

			}

			&.current-day {
				background: rgba(63,169,245,0.39);

				.scheduler-column-title {
					background: $bright-blue;
					color: $true-white;
				}
			}

			&.no-activity {

				.scheduler-column-title {
					background: #8297AE;
				}
			}
		}
	}

// END DATE TIME PAGE


// DASHBOARD MODULES PAGE

	.module-panel {
		width: 100%;
		min-height: 280px;
		background: $true-white;
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		border-radius: $radius-2;
	}

	.module-panel-header {
		position: relative;
	}

	.module-panel-title {
		width: 100%;
		height: 32px;
		background: $deep-blue;
		line-height: 32px;
		color: $true-white;
		text-align: center;
		text-transform: uppercase;
		font-weight: $font-medium;
	}

	.module-panel-actions {
		position: absolute;
    	top: 0;
    	right: 0;
    	z-index: 5;

    	a {
	    	margin: 0;
	    	padding: 0;
	    	width: 32px;
	    	height: 32px;
	    	padding: 5px 0px;
	    	text-align: center;
	    	display: inline-block;
			svg {
				fill: $true-white;
				width: 13px;
				height: 13px;
			}
		}
	}

	.module-panel-body {

		padding: 4px;
		color: $deep-blue;
	
		.module-panel-info {
			font-weight: $font-bold;
			font-size: $font-size-16;
			margin: 16px 0;
			padding: 16px 0;
			padding-left: 16px;
		}
		.notification-icon {
			float: left;
			margin-right: 16px;
		}
		.call-to-action {
			font-weight: $font-medium;
			margin: 16px 0;
			padding: 16px 0;
			text-align: center;
			display: inline-block;
			width: 100%;
			font-size: $font-size-16;
			border-left: 1px solid $disabled-grey;
		}

		#map4 {
			height: 202px;
			min-height: 202px;
		}
	}



// DASHBOARD MODULES PAGE



// Chart page

.chart-text {
  
  fill: #303030;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-weight: $font-bold;
  font-size: 0.25rem;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.45em);
  -ms-transform: translateY(-0.45em);
  -webkit-transform: translateY(-0.45em);
  transform: translateY(-0.45em);
}

.chart-label {
  font-size: 0.2rem;
  text-anchor: middle;
  -moz-transform: translateY(0.35em);
  -ms-transform: translateY(0.35em);
  -webkit-transform: translateY(0.35em);
  transform: translateY(0.35em);
}

// MOBILE UI SECTION

	.mobile-mock {
		width:380px;
		height: 792px;
		background: url(../images/iphone-mockup.png) no-repeat;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.mobile-frame {
		width: 320px;
		height: 562px;
		background: #eaeaea;
		margin-top: 116px;
		margin-left: 30px;

		position: relative;
	}

	.mobile-nav {
		width: 100%;
		height: 48px;
		background: $true-blue;
	}

	.mobile-nav-items {
		width: 100%;
		min-height: 48px;
		position: relative;

		.burger-menu {
			width:48px;
			height: 48px;
			display: inline-block;

			a {
				display: inline-block;
				padding: 13px 16px;

				svg {
					width: 18px;
					height: 13px;
					fill: $true-white;
				}
			}
		}

		#cmx-logo {
			width: 88px;
			height: 48px;
			margin: 0 auto;
			position: absolute;
			top:0;
			left: 50%;
			margin-left: -50px;

			a {
				width: 88px;
				height: 48px;
				display: inline-block;
				margin:0 auto;

				svg {
					width: 88px;
					height: 48px;
					fill: $true-white;
				}
			}	
		}

		.search-menu {
			width:48px;
			height: 48px;
			position: absolute;
			display: inline-block;
			top: 0;
			right: 0;

			a {
				width: 48px;
				height: 48px;
				padding: 12px;
				display:inline-block;

				svg {
					fill: $true-white;
					padding: 3px;
				}	
			}
		}
	}

	.sub-nav-loader {
		width: 100%;
		height: 2px;
		background: $true-red;

		@keyframes slideInFromLeft {
		    0% {
		        transform: scaleX(0);
		        transform-origin: left;
		    }
		    100% {
		        transform: scaleX(1);
		        transform-origin: left;
		    }
		}
		animation: 1.5s ease-out 0.5s 1 slideInFromLeft;
	}


	.mobile-reveal-menu {
		position: relative; // needed in order to position the copyright at the bottom
		width: 85%;
		height: calc(100% - 50px);
		background: $true-blue;
		margin-top: 2px;
		

		.legal-entity {
			background: $medium-blue;
			padding: 20px;
		}

		.legal-entity-name {
			font-weight: $font-medium;
			color: $true-white;
			font-size: $font-size-14;
		}

		.legal-entity-id {
			color: $true-white;
			font-size: $font-size-10;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;


			li {

				&.active {
					background: linear-gradient(to right, #001B3A 43px, #002A59 42px);
				}

				a { 
					display: block;
					//border: 1px solid red;
					width: 85%;
					color: $true-white;
					font-size: $font-size-14;
					font-weight: $font-medium;
					text-decoration: none;
					line-height: 48px;
				}
					
				.icon {
					display: inline-block;
					background: $medium-blue;
					width: 48px;
					height: 48px;
					text-align: center;

					svg {
						fill: $true-white;
						position: relative;
						top: 6px;
					}
				}

				.menu-label {
					padding-left: 16px;
				}

			}
		}

		.mobile-side-menu-delimiter {
			height: 1px;
			width: 100%;
			background: #4D6F96;
		}

		ul.menu-secondary-actions {
			margin: 8px 0;
		}

		.circle {
			font-weight: $font-bold;
			font-size: $font-size-14;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			color: $true-white;
			text-align: center;
			line-height: $line-height-32;
			float: left;
			margin: 7px 8px;

			&.red-circle {
				background: $true-red;	
			}
			&.deep-blue-circle {
				background: $deep-blue;
			}
			&.white-circle {
				background: $true-white;
				color: $true-blue;
			}
		}

		.copyright {
			color: $disabled-grey;
			font-size: $font-size-12;
			background: $true-blue;
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			padding-left: 16px;
			padding-bottom: 8px;
		}
	}

	.mobile-stepper {
		width: 100%;
		position: absolute; // WARNING: in real case scenario should be FIXED
		bottom: 0;
		height: 48px;
		background: $true-blue;

		.prev {
			width: 48px;
			height: 48px;
			float: left;

			&.hidden-arrow {
				// hide the element when on first position
				a {
					display: none;
				}
			}
			
			a {
				width: 48px;
				height: 48px;
				display: inline-block;
				border-right: 1px solid $true-white;
				
				svg {
					fill: $true-white;
					padding: 4px;
					margin: 12px;
				}
			}
		}

		.next {
			width: 48px;
			height: 48px;
			float: right;

			a {
				width: 48px;
				height: 48px;
				display: inline-block;
				border-left: 1px solid $true-white;
				
				svg {
					fill: $true-white;
					padding: 4px;
					margin: 12px;
				}	
			}
		}

		.current {
			text-align: center;
			width: calc(100% - 96px);
			float: left;
			line-height: 48px;

			a {
				color: $true-white;
				text-decoration: none;
				display: inline-block;
				width: 100%;
				height: 48px;

				svg {
					position: relative;
					top: 7px;
					left: 4px;
					padding: 4px;
					fill: $true-white;
				}
			}
		}

		.stepper-open {
			width: 100%;
			min-height: 160px;
			background: $true-blue;
			border-bottom: 1px solid $true-white;
			position: absolute;
			bottom: 48px;
			color: $true-white;
			font-size: $font-size-16;
			padding: 30px;

			.step {
				margin-bottom: 20px;
				color: $true-white;

				a {
					text-decoration: none;
					color: $true-white;
				}
			}
	
			.cmx-step-icon {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				background: $bright-blue;
				float: left;
				text-align: center;
				margin-right: 16px;
				font-weight: bold;
				position: relative;

				.bottom-connector {
					width: 1px;
					height: 20px;
					background: $bright-blue;
					display: inline-block;
					position: absolute;
					top: 24px;
					left: 12px
				}

				&.cmx-step-completed {
					background: $bright-green;
				}

				&.cmx-step-disabled {
					background: #2E5E92;
					color: $true-blue;
				}

				svg {
					fill: $true-white;
					width: 13px;
				}
			}
		}
	}

	.mobile-breadcrumbs {
		font-size: $font-size-16;

		span {
			display: inline-block;
		}

		.delimiter {
			width: 6px;
			height: 6px;
			background: $bright-blue;
			display: inline-block;
			border-radius: $radius-2;
			vertical-align: middle;
			margin: 0 8px;
		}
	}

	.mobile-content-wrap {
		margin: 15px;
	}

	.mobile-h1 {
		font-size: $font-size-30;
		line-height: $line-height-30;

		a {
			color: #303030;
			text-decoration: none;
		}

		svg {
			width: 18px;
			fill: #303030;
		}
	}

	.mobile-filtering-box {
		background: $true-white;
		border-top: 2px solid $true-red;

		.filter-search {
			width: 100%;
			border-bottom: 1px solid #dadada;

			span {

				display: inline-block;
				width: 48px;
				float: left;

				svg {
					width: 18px;
					margin: 12px 14px 3px 14px;
				}
			}

			input[type="search"] {
				border:0;
				width: calc(100% - 50px);
				display: inline-block;
				height: 48px;
				line-height:48px;

				&:focus {
					outline: 0 none;
				}
			}
		}

		.results-listing {
			height: 280px;
			overflow-y: scroll;

			.results-listing-item {
				padding: 10px 16px;
				font-size: $font-size-14;
				line-height: $line-height-18;
			}

			.results-listing-item-name {
				color: #1a1a1a;
			}

			.results-listing-item-detail {
				color: #888;
			}
		}
	}

	.mobile-overlay-bg {
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.6;
		z-index: 4;
		position: absolute; //i think, this should be FIXED (has to be tested)
		top:0;
		left:0;
	}


	.mobile-overlay-message {
		width: 80%;
		min-height: 120px;
		background: $true-white;
		position: absolute;
		z-index: 5;
		margin: 40% 10%;
		padding: 16px;
		box-shadow: 0 20px 20px rgba(0,0,0,0.3);

		.mobile-overlay-content {
			margin-bottom: 20px;

			p {
				font-size: $font-size-16;
				line-height: $line-height-18;
			}
		}

		.mobile-message-cta-container {
			text-align: right;
		}

		a {
			&.mobile-message-cta {
				display: inline-block;
				font-size: $font-size-14;
				font-weight: $font-bold;
				text-transform: uppercase;
				margin-left: 20px;
			}
		}
	}

	.mobile-bottom-message {
		width: 100%;
		z-index: 5;
		position: absolute;
		bottom: 0;
		background: #333;
		padding: 16px;
		color: $true-white;

		display: flex;
		align-items: center;

		.mobile-bottom-content {
			font-size: 14px;
			line-height: $line-height-16;
		}

		.mobile-bottom-cta {
			min-width: 80px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	
	.mobile-modal-bg {
		width: 100%;
		height: 100%;
		position: absolute; // this will need to be changed to fixed
		z-index: 4;
		top: 0;
		left: 0;
		background: $true-white;
	}

	.mobile-modal-wrap {
		width: 100%;
		height: 100%;
		z-index: 5;
		position: absolute;

		.mobile-modal-top {
			height: 46px;
			width:100%;

			a {
				display: inline-block;
				float: right;
				margin: 10px;

				svg {
					width: 20px;
				}
			}
		}

		.mobile-modal-content {
			height: calc(100% - 116px);
			overflow-y: scroll;
			width: 100%;
			padding: 24px;

			h2 {
				font-weight: bold;
				font-size: $font-size-24;
				margin-bottom: 16px;
			}
		}

		.mobile-modal-bottom {
			height: 64px;
			width: 100%;
			border-top: 1px solid #ccc;
			text-align: right;
			padding: 16px;
			position: absolute;
			bottom: 0;
			background: $true-white;

			a {
				margin-left: 16px;
			}
		}
	}

	.mobile-modal-wrap-message {
		width: 100%;
		height: 100%;
		z-index: 5;
		position: absolute;

		.mobile-modal-top {
			height: 46px;
			width:100%;

			a {
				display: inline-block;
				float: right;
				margin: 10px;

				svg {
					width: 20px;
				}
			}
		}

		.mobile-modal-content {
			height: auto;
			overflow-y: none;
			width: 100%;
			padding: 24px;

			h2 {
				font-weight: bold;
				font-size: $font-size-24;
				margin-bottom: 16px;
			}

			.message-icon {
				text-align: center;
			}

			svg {
				fill: $bright-green;
				width: 120px;
				height: 120px;
			}

			p {
				font-size: $font-size-20;
				line-height: $line-height-24;
				text-align: center;
			}
		}

		.mobile-modal-bottom {
			height: 64px;
			width: 100%;
			border-top: 1px solid #ccc;
			text-align: right;
			padding: 16px;
			position: absolute;
			bottom: 0;
			background: $true-white;

			a {
				margin-left: 16px;
			}
		}
	}

	.mobile-modal-wrap-form {
		width: 100%;
		height: 100%;
		z-index: 5;
		position: absolute;

		.mobile-modal-top {
			height: 46px;
			width:100%;

			a {
				display: inline-block;
				float: right;
				margin: 10px;

				svg {
					width: 20px;
				}
			}
		}

		.mobile-modal-content {
			height: auto;
			overflow-y: none;
			width: 100%;
			padding: 24px;

			h2 {
				font-weight: bold;
				font-size: $font-size-24;
				margin-bottom: 16px;
			}

			p {
				font-size: $font-size-14;
				line-height: $line-height-16;
				font-weight: bold;
				text-align: left;
			}

			textarea {
				min-height: 180px;
			}
		}

		.mobile-modal-bottom {
			height: 64px;
			width: 100%;
			border-top: 1px solid #ccc;
			text-align: right;
			padding: 16px;
			position: absolute;
			bottom: 0;
			background: $true-white;

			a {
				margin-left: 16px;
			}
		}
	}

	.mobile-mimic-overflow {
		// used for demo purpose
		margin-top: 2px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 514px;
		width:  100%;
	}

	.mobile-mimic-overflow-2 {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 424px;
		width:  100%;
	}

	.mobile-listed-entries {
		.row {
			font-size: $font-size-14;
		}
	}

	.mobile-table-row {
		background: $true-white;
		border-radius: $radius-3;
		font-size: $font-size-14;
		box-shadow: 0 2px 2px rgba(0,0,0,0.1);
		
		.mobile-table-row-padding {
			padding: 16px;
		}

		.row {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.mobile-table-row-actions {
		text-transform: uppercase;
		font-weight: bold;
		margin: 8px 0;

		a:first-child {
			margin-right: 24px;
		}
	}

	.mobile-scheduler {
		.mobile-scheduler-header {
			width: 100%;
			height: 44px;
			background: $true-blue;
			color: $true-white;
			border-bottom: 1px solid #315884;

			a {
				display: inline-block;
				width: 44px;
				height: 44px;
				margin: 0;
				float: left;

				svg {
					fill: $true-white;
					margin: 9px;
					padding: 4px;
				}
			}

			.current {
				display: inline-block;
				width: calc(100% - 88px);
				margin: 0;
				text-align: center;
				height: 44px;
				line-height: 44px;
				text-transform: uppercase;
				float: left;
				font-weight: bold;
				font-size: $font-size-14;
			}
		}

		.mobile-horizontal-sliding-wrapper {
			height: 46px!important;
			overflow-y: hidden!important;
		}

		.mobile-horizontal-sliding-menu {
			background: $true-blue;
			width: 100%;
			overflow-x: scroll;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				width: 1200px;

				li {
					display: inline-block;
					padding: 10px 16px;
					float: left;

					a {
						color: $true-white;
						font-size: $font-size-14;
						opacity: 0.8;
					}

					&.active {
						border-bottom: 2px solid $true-red;
					}

					&.active a {
						font-weight: bold;
						opacity: 1;
					}
				}
			}
		}
	}
	
// END MOBILE UI SECTION


// START 404 DEMO PAGE
	.error-page-wrapper {
		display: flex;
		min-height: 600px;
		align-items: center;
		justify-content: space-around;
	}

	.error-page {
		h1 {
			font-size: 108px;
			line-height: 112px;
		}
	}

// END 404 DEMO PAGE







