// Buttons

.button {
	
	// default button is he bright blue button

	display: 				inline-block;
	min-width: 				85px;
	border-radius:  		$radius-2;
	border: 				$solid-1-bright-blue;
	padding: 				8px 16px;
	font-family: 			$font-family;
	font-size: 				$font-size-16;
	line-height: 			$line-height-16;
	font-weight: 			$font-bold;
	color: 					$true-white;
	background: 			$bright-blue;
	text-transform: 		uppercase;
	text-align: 			center;
	cursor: 				pointer;
	transition: 			all 0.2s;

	// adjusting color styles for the bright green button

	&.bright-green {
		background: 		$bright-green;
		border: 	 		$solid-1-bright-green;
	}

	// solid white for blue and green version of the buttons

	&.solid-blue {
		background: 		$true-white;
		color: 				$bright-blue;
	}

	&.solid-green {
		background: 		$true-white;
		color: 				$bright-green;
		border-color: 		$bright-green;
	}

	// interactive states of buttons - definitions of the hover

	&:hover,
	&.hover {
		text-decoration: 	none;
		color: 			 	$true-white;
		box-shadow: 	 	0 2px 4px rgba(0,0,0,0.1);

		&.solid-blue {
			color: 			$bright-blue;
		}

		&.solid-green {
			color: 			$bright-green;
		}

	}

	&:active,
	&:focus,
	&.active,
	&.focus {
		text-decoration: 	none;
		color: 			 	$true-white;
		background: 	 	$active-blue;
		border-color:       $active-blue;

		&.bright-green {
			background:  	$active-green;
			border-color: 	$active-green;
		}

		&.solid-blue {
			border-color: 	$active-blue;
			color: 			$active-blue;
			background: 	$true-white;
		}

		&.solid-green {
			border-color: 	$active-green;
			color: 			$active-green;
			background: 	$true-white;
		}

	}

	// the grey or the disabled version of the button

	&.disabled {
		transition: 		none;
		cursor: 			not-allowed;
		background: 		$disabled-grey;
		border: 			$solid-1-disabled-grey;

		&:hover {
			box-shadow: 	none;
		}
	}

	// style for icon before the button label

	.btn-icon {
		width: 16px;
		height: 16px;
		float: left;
		display: inline-block;
		margin-right: 8px;

		svg {
			width: 16px;
			height: 16px;
			fill: $true-white;
		}
	}

	// end style for icon before button label

	// a specific type of button is the back-to-top button

	&.back-top-button {
		width: 35px;
		height: 35px;
		display: inline-block;
		border-radius: 50%;
		background: $bright-blue;
		text-align: center;
		min-width: auto;
		padding: 0;

		svg {
			fill: $true-white;
			width: 17px;
			margin-top: 4px;
		}

		&:active,
		&.focus {
			background: $active-blue;
		}
	}

}

.button-ghost {
	display: 				inline-block;
	min-width: 				85px;
	padding: 				8px 16px;
	border-radius:  		$radius-2;
	border: 				$solid-1-bright-blue;
	font-family: 			$font-family;
	font-size: 				$font-size-16;
	line-height: 			$line-height-16;
	font-weight: 			$font-bold;
	color: 					$bright-blue;
	background: 			transparent;
	text-transform: 		uppercase;
	text-align: 			center;
	cursor: 				pointer;
	transition: 			all 0.2s;

	&.bright-green {
		background: 		none;
		color: 				$bright-green;
		border: 			$solid-1-bright-green;
		
		// deals with svg icon (if any)
		.btn-icon {
			svg {
				fill: $bright-green;
			}
		}
	}

	&:hover,
	&.hover {
		text-decoration: none;
		color: 			 	$bright-blue;
		box-shadow: 	 	0 2px 4px rgba(0,0,0,0.1);

		&.bright-green {
			color: 		 	$bright-green;
			border: 	 	$solid-1-bright-green;
		}
	}

	&:active,
	&:focus,
	&.active,
	&.focus {
		text-decoration: 	none;
		background: 	 	none;
		color: 			 	$active-blue;
		border: 		 	$solid-1-active-blue;

		&.bright-green {
			background:  	none;
			color: 		 	$active-green;
			border: 	 	$solid-1-active-green;

			// deals with svg icon (if any)
			.btn-icon {
				svg {
					fill: $active-green;
				}
			}
		}

		// deals with svg icon (if any)
		.btn-icon {
			svg {
				fill: $active-blue;
			}
		}
	}

	&.disabled {
		transition: 		none;
		cursor: 			not-allowed;
		border: 			$solid-1-disabled-grey;
		color: 				$disabled-grey;

		&:hover {
			box-shadow: 	none;
		}
	}

	// style for icon before the button label
	.btn-icon {
		width: 16px;
		height: 16px;
		float: left;
		display: inline-block;
		margin-right: 8px;

		svg {
			width: 16px;
			height: 16px;
			fill: $bright-blue;
		}
	} 
	// end style for icon before button label
}

.button-link {
	display: 				inline-block;
	font-family: 			$font-family;
	font-weight: 			$font-medium;
	font-size: 				$font-size-12;
	line-height: 			$line-height-16;
	text-transform: 		uppercase;

	&.button-link-medium {
		font-size: 			$font-size-18;
		line-height: 		$line-height-24;
	}
}