// Forms


input {
    &[type=checkbox] {
        display: none;
		
		@include checkbox(unchecked);

        &:checked {
			@include checkbox(checked);
            &:hover { @include checkbox(checked); }
        }

        &:hover { @include checkbox(hover); }

        + label span {
        	vertical-align: top;
    		padding-left: .25em;
        }

        &[disabled] + label span {
        	color: $disabled-grey;
        }
    }

    &[type=radio] {
        display: none;
        
        @include radio(unchecked);

        &:checked {
            @include radio(checked);
            &:hover { @include radio(checked); }
        }

        &:hover { @include radio(hover); }

        + label span {
            vertical-align: top;
            padding-left: .25em;
        }

        &[disabled] + label span {
            color: $disabled-grey;
        }
    }
}

