// GRID.SCSS
// ---------

// Creates the Responsive Grid System.
// Includes relevant variables and mixins for the flexbox grid system,
// as well as the generated predefined classes (e.g., `.col-sm-4`).

// Requires: 
// --------

// _variables.scss from Variables.  
// _clearfix.scss from Mixins.
// _breakpoints.scss from Mixins.
// _grid-framework.scss from Mixins.
// _grid.scss from Mixins.
// _grid.scss from Utilities.

//
// Box sizing, responsive, and more
// --------------------------------

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//
// Variables
// ---------

@import "../variables/variables";

//
// Mixins
// ------

@import "../mixins/clearfix";
@import "../mixins/breakpoints";
@import "../mixins/grid-framework";
@import "../mixins/grid";

//
// Utilities
// ---------

@import "../utilities/grid";
