

// Basic progress bar
.progress {
  display: flex;
  overflow: hidden; // force rounded corners by cropping it
  font-size: $progress-font-size;
  line-height: $progress-height;
  text-align: center;
  background-color: $disabled-grey;
}

.progress-bar {
  height: $progress-height;
  color: $progress-bar-color;
  background-color: $bright-blue;

  &.green {
    background-color: $bright-green;
  }

  &.orange {
    background-color: $bright-orange;
  }

  &.red {
    background-color: $true-red;
  }
}

.progress-text {
  font-size: $font-size-10;
  color: #818C9E;
}

.legend-entity {
  float: left;
  width: 100%;
  margin-bottom: 6px;

  .legend-label {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: $disabled-grey;
    margin-top: 4px;

    &.blue {
      background: $bright-blue;
    }

    &.green {
      background: $bright-green;
    }

    &.red {
      background: $true-red;
    }

    &.orange {
      background: $bright-orange;
    }
  }

  .legend-value {
    margin-left: 8px;
    width: calc(100% - 32px);
    float: left;

    span {
      font-size: $font-size-18;
      font-weight: bold;
      display: inline-block;
      padding-bottom: 4px;
    }

    p {
      line-height: $line-height-18;
    }
  }
}






